@import "reset.css";

body {
    font-family: 'Roboto', sans-serif;
}
.contents {
    margin-top:30px;
    text-align: center;
    font-size: 30px;
}

.pic_and_info {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;

}

.pic1, .pic2, .pic3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 180px;
    border-radius: 10%;
    font: outline;
    opacity: .6;  
    cursor: pointer;
}

.pic1:hover, .pic2:hover, .pic3:hover {
    opacity: 1;  
}

h1 {
    font-size: 40px;
    font-weight: bold ;
    color:#67FEF0;
    -webkit-text-stroke: 0.5px #1ED1C1;
    font-weight: 800;
}

.link_invoice {
    margin:auto;
    margin-top:50px;
    text-align: center;
    width: 250px;
    height: 50px;
    background-color: #1ED1C1 ;
    color: white;
    font-size: 20x;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.link_invoice:hover {
    background-color:#67FEF0 ;
}

footer {
    text-align: center;
    font-weight: 100;
    font-size: 12px;
    margin-top: 50px;
}

a {
    text-decoration: none;
}
