@import "reset.css";

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 30px;
}

h2 {
    margin: 25px 130px;
}

.logo_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.shop-info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.client_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flight_info {
    display: flex;
    flex-direction: column;
    margin: 20px 130px;
}

.flight_info > div {
    margin: 10px 0px;
}

.f_info_departure, .f_info_arrival {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hotel_info {
    display: flex;
    flex-direction: column;
    margin: 20px 130px;
}

.hotel_info > div {
    margin: 10px 0px;
}

.a_info, .a_info_check_in, .a_info_check_out {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.submit > input {
    width: 200px;
    height: 50px;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}