@import "reset.css";

body {
    font-family: 'Roboto', sans-serif;
}


.logo_header {
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.logo {
    padding-top: 50px;
}

.header_invoice {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header_invoice > h2 {
    align-self: flex-end;
    font-size: 45px;
}

.header_address {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

hr {
    margin: 40px;
}

.client_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.client_name_tel, .f_info {
    display: flex;
    flex-direction: column;
}

.flight_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.travel_info {
    margin: 40px 120px;;
}

.submit {
    display: flex;
    justify-content: center;
}

footer {
    text-align: center;
    font-weight: 100;
    font-size: 12px;
    margin-top: 50px;
}

a {
    text-decoration: none;
}